<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="../board">board</a>
          <a class="nav-link" href="/index/user">회원가입</a>
          <a class="nav-link" href="/index/login">로그인</a>
        </div>
      </div>
    </div>
  </nav>
</head>
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const boardId = urlParams.get("boardId");

    $(document).ready(function () {
      show_detail();
    });

    function show_detail() {
            isLogin === true? $('#toggleLogin').
              $.ajax({
              type: "GET",
              url: `/api/board/${boardId}`,      //req .파라미터로 id확인가능.. 흑.. 주입되는건 많은데 수용력이 부족하다
              data: {},
              success: function(response) {
              let board = response['board_detail'];
              let author = board['author']
              let title  = board['title']
              let content = board['content']
              
              let temphtml = `<h1>${author}</h1>
                        <h1>${title}</h1><br>
                        <p>${content}</p>`

                $('#board_show').append(temphtml)
              }
            });
    }

    function REPOST() {
      let pw = $("#pw").val()
          alert(boardId)
            $.ajax({
              type: "PUT",
              url: `/api/board/${boardId}`,      //req .파라미터로 id확인가능.. 흑.. 주입되는건 많은데 수용력이 부족하다
              data: {
                  'pw' : pw,
              },
              success: function(response) {
                if (response["result"] == "success") {
                  alert('확인완료')
                  window.location.href =`/board/edit?boardId=${boardId}&isLogin=`
                } else {
                  alert('틀렸어용ㅠㅠ')
                }
              }
            });
    }
          

    function DELETE() {
          let pw = $("#pw").val()
          alert(pw)
            $.ajax({
              type: "DELETE",
              url: `/api/board/${boardId}`,      //req .파라미터로 id확인가능.. 흑.. 주입되는건 많은데 수용력이 부족하다
              data: {
                  'pw' : pw,
              },
              success: function(response) {
                if (response["result"] == "success") {
                  alert('삭제가 완료되었습니다!')
                  window.location.href ="/board"
                } else {
                  alert('틀렸어용ㅠㅠ')
                }
              }
            });
    }





</script>
<body>
  <div id ="board_show">
    비밀번호 <input type='text' id='pw' placeholder="비밀번호를 입력해주세용" style="width:200px;">
  </div>
    <article class="form-control" id="" cols="30"></article>

    <div class="cmt_write_box clear">
      <div class="fl">
                <div class="user_info_input">
          <label for="user_nick" class="blind">닉네임</label>
          <input type="text" id="name_17801" name = "name" placeholder="닉네임" onfocus="this.style.background='#FFFFFF'" maxlength="20" >	
        </div>
        <div class="user_info_input">
          <label for="user_pw" class="blind">비밀번호</label>
          <input type="password" id="password_17801" name = "password" placeholder="비밀번호" onfocus="this.style.background='#FFFFFF'" maxlength = "20">
        </div>
              </div>
      <div class="cmt_txt_cont">
        <div class="cmt_write">
          <label for="cmt_textarea" class="cmt_textarea_label" onclick="" >
          .<br>
          </label>
          <textarea id="memo_17801" maxlength="400"></textarea>
        </div>
    


    <button onclick="REPOST()">수정</button>
    <button onclick="DELETE()">삭제</button>
    </body>
</html>
